# This .gitignore file is specific to Unity projects.
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.pidb
*.booproj
*.svd
*.userprefs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.bak
*.ncb
*.pdb
*.idb
*.DS_Store
.idea/
.vscode/
